.navlink {
	font-family: "Roboto", sans-serif;
	position: relative;
}
.navmenu::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 0%;
	left: 27px;
	bottom: 5px;
	background-color: #feb900;
	transition: ease-in-out 0.3s;
}
.navmenu:hover::after,
.active-link::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 70%;
	left: 27px;
	bottom: 5px;
	background-color: #feb900;
}
.service-menu {
	position: relative;
}
.submenu {
	position: absolute;
	left: 28px;
	top: calc(100% + 30px); /* Adjusted the top position */
	opacity: 0; /* Initially set opacity to 0 */
	visibility: hidden; /* Initially hidden */
	width: 300px;
	padding: 10px 0;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.arrow:hover .submenu {
	opacity: 1; /* Set opacity to 1 on hover */
	visibility: visible; /* Make it visible on hover */
	top: 45px;
	display: block;
}
.submenu li {
	padding: 10px 20px;
	transition: 0.2s ease-in-out;
}
.submenu li:hover {
	background-color: #f9f1dd;
	color: #feb900;
}
