.testimonials-heading {
	font-family: "Roboto", sans-serif;
}

.testimonials-heading::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 28%;
	left: -70px;
	bottom: calc(50% - 1px);
	background-color: #feb900;
}
.testimonials-heading::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 28%;
	right: -70px;
	bottom: calc(50% - 1px);
	background-color: #feb900;
}
.testimonial-heading {
	font-family: "Roboto", sans-serif;
}
.testimonial-designation {
	font-family: "Overpass", sans-serif;
}
.testimonial-card {
	height: 320px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.testimonial-img {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.swiper {
	overflow: visible;
	padding: 80px 0;
}
.swiper-pagination-bullet {
	height: 12px;
	width: 12px;
}
.swiper-pagination-bullet-active {
	background-color: #feb900;
}
