.testimonial-designation {
	font-family: "Overpass", sans-serif;
}
.testimonial-card {
	height: 320px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.testimonial-img {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.swiper {
	/* overflow: visible; */
	padding: 80px 0;
}
.swiper-pagination-bullet {
	height: 12px;
	width: 12px;
}
.swiper-pagination-bullet-active {
	background-color: #feb900;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	color: #ffd565;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
	.swiper-button-next:after,
	.swiper-button-prev:after {
		content: "";
	}
	.testimonial-card {
		height: 400px;
	}
}
@media only screen and (max-width: 250px) {
	.swiper-button-next:after,
	.swiper-button-prev:after {
		content: "";
	}
	.testimonial-card {
		height: 600px;
	}
}
