.active-link::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 0%;
	right: 0;
	bottom: 5px;
	background-color: #feb900;
}
.active-link:hover::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 70%;
	right: 0;
	bottom: 5px;
	background-color: #feb900;
}
